// custom.scss
.fancy {
	color: #025eae;
}

.profileimage {
	width: 148px;
	height: 148px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;
	align: center;
}